<div id="supplier" data-hook>
  <div class="field">
    <%= label_tag :supplier_name, t(:supplier_name) %>:<br>
    <%= f.text_field :name, :class => 'fullwidth' %>
  </div>
  <div class="field">
    <%= label_tag :supplier_address1, t(:'activerecord.attributes.spree/address.address1') %>:<br>
    <%= f.text_field :address1, :class => 'fullwidth' %>
  </div>
  <div class="field">
    <%= label_tag :supplier_address2, t(:'activerecord.attributes.spree/address.address2') %>:<br>
    <%= f.text_field :address2, :class => 'fullwidth' %>
  </div>
  <div class="field">
    <%= label_tag :supplier_city, t(:'activerecord.attributes.spree/address.city') %>:<br>
    <%= f.text_field :city, :class => 'fullwidth' %>
  </div>
  <div class="field">
    <%= label_tag :supplier_state_id, t(:state) %>:<br>
    <%= f.collection_select(:state_id,
                            @states,
                            :id,
                            :name,
                            { :include_blank => true }) %>
  </div>
  <div class="field">
    <%= label_tag :supplier_zip_code, t(:'activerecord.attributes.spree/address.zipcode') %>:<br>
    <%= f.text_field :zip_code, :class => 'fullwidth' %>
  </div>
  <div class="field">
    <%= label_tag :supplier_phone, t(:phone) %>:<br>
    <%= f.text_field :phone, :class => 'fullwidth' %>
  </div>
  <div class="field">
    <%= label_tag :supplier_fax, t(:fax) %>:<br>
    <%= f.text_field :fax, :class => 'fullwidth' %>
  </div>
  <div class="field">
    <%= label_tag :supplier_email, t(:email) %>:<br>
    <%= f.text_field :email, :class => 'fullwidth' %>
  </div>
  <div class="field">
    <%= label_tag :supplier_website, t(:website) %>:<br>
    <%= f.text_field :website, :class => 'fullwidth' %>
  </div>
  <div class="field">
    <%= label_tag :supplier_notes, t(:notes) %>:<br>
    <%= f.text_area :notes, :class => 'fullwidth', :rows => 5 %>
  </div>
</div>
