<table id="suppliers" class='index'>
  <colgroup>
    <col style="width: 25%" />
    <col style="width: 20%" />
    <col style="width: 20%" />
    <col style="width: 20%" />
    <col style="width: 15%" />
  </colgroup>
  <thead>
    <tr>
      <th><%= t(:supplier_name) %></th>
      <th><%= t(:sku) %></th>
      <th>Cost Price</th>
      <th>Shipping Cost</th>
      <th class="actions">&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% unless supplier_links.empty? %>
     <% supplier_links.each do |supplier_link| %>
      <% supplier = supplier_link.supplier %>
      <tr id='<%= dom_id(supplier, :sel) %>'>
        <td><%= supplier.name %></td>
        <td><input id="sku_<%= dom_id(supplier) %>" value="<%= (supplier_link.sku || "").gsub('"','') %>" size="12" /></td>
        <td><input id="cost_<%= dom_id(supplier) %>" value="<%= number_to_currency(supplier_link.cost_price) %>" size="12" /></td>
        <td><input id="shipping_<%= dom_id(supplier) %>" value="<%= number_to_currency(supplier_link.shipping_cost) %>" size="12" /></td>
        <td class='actions'>
          <%= image_tag 'spinner.gif', :style => 'display: none', :id => "#{dom_id(supplier, :rem_spinner)}" %>
          <%= link_to_with_icon 'icon-save',
                                t(:update),
                                'javascript:void(0);',
                                :id => "update_link_#{dom_id(supplier)}",
                                :no_text => true %>
          <%= link_to_with_icon 'icon-remove-circle',
                                t(:remove),
                                remove_admin_product_supplier_url(@product, supplier),
                                :id => "remove_link_#{dom_id(supplier)}",
                                :remote => true,
                                :no_text => true %>
          <%= javascript_tag do %>
            $(document).ready(function() {
              $('#<%= "remove_link_#{dom_id(supplier)}" %>').click(function(){
                $('#<%= "#{dom_id(supplier, :rem_spinner)}" %>').show();

                $.ajax({
                  data: { id: <%= supplier.id %> },
                  success: function(request){
                    $('#<%= "#{dom_id(supplier, :sel)}" %>').remove();
                  },
                  type: 'get',
                  url: '<%= remove_admin_product_supplier_url(@product, supplier) %>'
                });

                $('#<%= "#{dom_id(supplier, :sel)}" %>').remove();
                $('#<%= "#{dom_id(supplier, :rem_spinner)}" %>').hide();
              });
              $('#<%= "update_link_#{dom_id(supplier)}" %>').click(function(){
                $('#<%= "#{dom_id(supplier, :rem_spinner)}" %>').show();

                $.ajax({
                  data: { id: <%= supplier.id %>,
                          sku: $('#sku_<%= dom_id(supplier) %>')[0].value,
                          cost_price: $('#cost_<%= dom_id(supplier) %>')[0].value,
                          shipping_cost: $('#shipping_<%= dom_id(supplier) %>')[0].value },
                  success: function(request) { 
                    $('#selected-supplier').html(request);
                  },
                  type: 'get',
                  url: '<%= update_data_admin_product_supplier_url(@product, supplier) %>'
                });

                $('#<%= "#{dom_id(supplier, :rem_spinner)}" %>').hide();
              });
            });
          <% end %>
        </td>
      </tr>
     <% end %>
    <% else %>
      <tr>
        <td colspan="4"><%= t(:none) %>.</td>
        <td class="actions">&nbsp;</td>
      </tr>
    <% end %>
  </tbody>
</table>
