<table class='index'>
  <thead>
    <tr>
      <th><%= t(:supplier_name) %></th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% unless supplier.blank? %>
      <tr id='<%= dom_id(supplier, :sel) %>'>
        <td><%= supplier.name %></td>
        <td class='actions'>
          <%= image_tag 'spinner.gif', :style => 'display: none', :id => "#{dom_id(supplier, :rem_spinner)}" %>
          <%= link_to icon('delete') + ' ' + t(:remove),
                      remove_admin_product_supplier_url(@product, supplier),
                      :class => 'iconlink',
                      :id => "remove_link_#{dom_id(supplier)}",
                      :remote => true %>
          <%= javascript_tag do %>
            $(document).ready(function() {
              $('#<%= "remove_link_#{dom_id(supplier)}" %>').click(function(){
                $('#<%= "#{dom_id(supplier, :rem_spinner)}" %>').show();

                $.ajax({
                  data: { id: <%= supplier.id %> },
                  success: function(request){
                    $('#<%= "#{dom_id(supplier, :sel)}" %>').remove();
                  },
                  type: 'get',
                  url: '<%= remove_admin_product_supplier_url(@product, supplier) %>'
                });
                
                $('#<%= "#{dom_id(supplier, :sel)}" %>').remove();
                $('#<%= "#{dom_id(supplier, :rem_spinner)}" %>').hide();
              });
            });
          <% end %>
        </td>
      </tr>
    <% else %>
      <tr><td colspan="3"><%= t(:none) %>.</td></tr>
    <% end %>
  </tbody>
</table>
