<script type='text/javascript'>
  function displayRow(){
    var row = document.getElementById('captionRow');
    if (row.style.display == '') row.style.display = 'none';
    else row.style.display = '';
  }
</script>

<h4><%= t(:available_suppliers) %></h4>

<table class='index'>
  <colgroup>
    <col style="width: 85%" />
    <col style="width: 15%" />
  </colgroup>
  <thead>
    <tr>
      <th><%= t(:name) %></th>
      <th class="actions">&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% @available_suppliers.each do |supplier| %>
      <tr id='<%= dom_id(supplier) %>'>
        <td><%= supplier.name %></td>
        <td class='actions'>
          <%= image_tag 'spinner.gif', :style => 'display: none', :id => "#{dom_id(supplier, :spinner)}" %>
          <%= link_to_with_icon 'icon-plus',
                                t(:select),
                                select_admin_product_supplier_path(@product, supplier),
                                :id => "add_link_#{dom_id(supplier)}",
                                :remote => true,
                                :no_text => true %>
          <%= javascript_tag do %>
            $(document).ready(function() {
              $('#<%= "add_link_#{dom_id(supplier)}" %>').click(function(){
                $('#<%= "#{dom_id(supplier, :spinner)}" %>').show();
                $.ajax({
                  data: { id: <%= supplier.id %> },
                  success: function(request){
                    $('#selected-supplier').html(request);
                  },
                  type: 'get',
                  url: '<%= select_admin_product_supplier_path(@product, supplier) %>'
                });
                $('#<%= "#{dom_id(supplier)}" %>').remove();
                $('#<%= "#{dom_id(supplier, :spinner)}" %>').hide();
              });
            });
          <% end %>
        </td>
      </tr>
    <% end %>
    <% if @available_suppliers.empty? %>
      <tr><td colspan="1"><%= t(:no_match_found) %>.</td></tr>
    <% end %>
  </tbody>
</table>
