<% content_for :page_actions do %>
  <li><%= button_link_to t(:back_to_orders_list), admin_orders_path, :icon => 'icon-arrow-left' %></li>
<% end %>

<%= render :partial => 'spree/admin/shared/order_tabs', :locals => { :current => 'Suppliers' } %>

<table class='index' id="line-items" data-hook>
  <thead>
    <tr data-hook="suppliers_header">
      <th><%= t(:item_description) %></th>
      <th><%= t(:supplier_names) %></th>
      <th><%= t(:price) %></th>
      <th><%= t(:qty) %></th>
      <th><span><%= t(:total) %></span></th>
    </tr>
  </thead>
  <tbody>
    <% @order.line_items.each do |item| %>
      <tr id="<%= spree_dom_id item %>" data-hook="supplier_row" class="<%= cycle('odd', 'even') %>">
        <td><%= item.variant.product.name %> <%= "(#{variant_options(item.variant)})" unless item.variant.option_values.empty? %></td>
        <td><%= item.variant.product.supplier_links.map { |s| "#{s.supplier.name} (#{s.sku})" }.join(', ') %></td>
        <td><%= number_to_currency item.price %></td>
        <td><%= item.quantity %></td>
        <td class='total_display'><span><%= number_to_currency(item.price * item.quantity) %></span></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="form-actions">
  <%= button_link_to t(:continue), admin_orders_url, :icon => 'icon-arrow-right' %>
</div>
